<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.olimpotec.busaoapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:name="com.olimpotec.busaoapp.BusaoApp"
        android:icon="@drawable/icon_bus_dark"
        android:label="@string/app_name"
        android:theme="@style/Theme.Default" >
        <activity
            android:name="com.olimpotec.busaoapp.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.NoTitle"
            android:screenOrientation="portrait" 
            android:background="@drawable/splash_bg" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name="com.olimpotec.busaoapp.MainActivity" /> 
        <activity android:label="@string/bus_itinerary" android:name="com.olimpotec.busaoapp.BusActivity" /> 
    </application>

</manifest>
